* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
.container {
    display: flex;
    gap: 50px;
}
.heart {
    margin-top: 300px;
    margin-left: 80px;
    width: 100px;
    height: 100px;
    background-color: black; 
    transform: rotate(45deg);
    position: relative;
    transition: .5s ease;
    left: 0%;
}
.heart::before,
.heart::after {
    content : '';
    display: block;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    transition: .5s ease;
}
.heart::before {
    top: -50px;
    left: 0;
}
.heart::after {
    top: 0;
    left: -50px;
}
.active::after{
    background: red;
}
.active2::before{
    background: red;
}